#a {
    background-color: #ddb388;
    font-style: bold;
    font: size 30px;
}

#b {
    font-family:courier;
}

.formatMe {
    background-color: #dfb791;
}

.accediH1 {
    font-family:courier;
}